.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rprofile
.DS_Store
# i added these
Thumbs.db
/public/
/resources/
word-press-pages/
notes_brainworkup.com.md
__index-reveal.md
#*.md
bfg-cleanup.txt
/journal/
cloudfare_codes_save.zip

node_modules
.dendron.*
build
/vault/
forensic_neuropsych_note.md
brainworkup.io.R
.Renviron
.Rprofile
.bwu-color-picker.jsonc
/private/
private/
.vscode/
/.vscode/
